div {
    font-size: 3em;
}

.div1 {
    text-align: center;
    padding-top: 100px;
    height: 200px;
}

.div2 {
    height: 500px;
}

.div3 {
    height: 300px;
}

.div4 {
    height: 500px;
}

.div5 {
    height: 300px;
}